@import url("/집/미니프로젝트/common.css");
@import url(/js-study/집/미니프로젝트/common.css);
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto 0;
    width: 700px;
    text-align: center;
    border: 1px solid #000;
   
}

.container .gameBox {
   
}
.container .gameBox h2 {
    font-size: 40px;
    font-weight: 700;
    margin: 40px 0;
}
.container .gameBox #menu {
    
}
.container .gameBox #menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.container .gameBox #menu .start {
    list-style: none;
}
.container .gameBox #menu .start #startBtn {
    font-weight: 700;
    font-size: 18px;
}
.container .gameBox #menu .scoreText span {
    font-weight: 700;
    font-size: 18px;
}

.container .gameBox #count {
    color: #fff;
    background: #5aafff;
    padding: 20px 0;
    font-size: 28px;
    font-weight: 500;
}
.container .gameBox #wrap {
    position: relative;
    height: 600px;
    width: 100%;
    /* background: #000; */
}
.container .gameBox #wrap #card {
    width: 25%;
    height: 25%;
    transition: all 0.8s;
    transform-style: preserve-3d;
    
    border: 1px solid #000;
    display: flex;
   
}
/* .container .gameBox #playBox.flipped #card {
    transform: rotateY(180deg);
} */
.container .gameBox #wrap:hover #card {
    transform: rotateY(180deg);
}
.container .gameBox #wrap.flipped #card {
    transform: rotateY(180deg);
    
}
.container .gameBox #wrap #card > div {
    position: absolute;
   
    
}
.container .gameBox #wrap #card .front {
    width: 100%;
    height: 150px;
    border: 1px solid #000;
    float: left;
    cursor: pointer;
    background: blue;
    backface-visibility: visible;
    z-index: 5;
   
}
.container .gameBox #wrap #card .box {
    width: 100%;
    height: 150px;
    border: 1px solid #000;
    float: left;
    cursor: pointer;
    backface-visibility: hidden;
    z-index: 5;
}

.container .gameBox #wrap #card .front:hover {
    transform: scale(1.03);
}
.container .gameBox #wrap #card .box:nth-child(4n + 1) {
    clear: both;
}
.container .gameBox #wrap #card .front:nth-child(4n + 1) {
    clear: both;
}
/* .container .gameBox #playBox #info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
} */
